<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Milestone1">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    <application
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".AuthorizationActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity android:name=".OtherMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/profile" />
        <activity android:name=".GroupsActivity" />
        <activity android:name=".GroupFragmentActivity" />
        <activity
            android:name=".CreateGroupActivity"
            android:configChanges="keyboardHidden" />
        <activity android:name=".EventActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".EditEventActivity" />
        <activity android:name=".EditGroupActivity" />
        <activity android:name=".UserEditActivity" />
        <activity
            android:name=".CreateJournalActivity"
            android:configChanges="keyboardHidden" />
        <activity
            android:name=".CreateCourseActivity"
            android:configChanges="keyboardHidden" />
        <activity android:name=".MyMarksActivity" />
        <activity android:name=".JournalActivity" />
        <activity android:name=".MarksActivity" />
        <activity
            android:name=".EditMarksJournalActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CreateMarksJournalActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LicenseActivity" />
        <activity android:name=".CreateFeedMessageActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>